@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
    margin: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
    margin: auto;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: auto;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1200px;
    margin: auto;
  }
}

.section {
  position: absolute;
  width: 100%;
  z-index: 9999;
}
#top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: transparent;
}
.overlay{
    background: -webkit-linear-gradient(to right, #292E49, #536976);
    background: linear-gradient(to right, #292E49, #536976);
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container a {
  color: white;
}
.header {
  display: flex;
  gap: 7rem;
  align-items: center;
}
.nav li a {
  margin-right: 3rem;
  
}
.cont-email a,.nav li a {
  transition: color 0.6s ease;
}
.nav li a:hover,.cont-email:hover a {
  background: transparent;
  color: #29ca8e;
  
}

section ul {
  display: flex;
}
section #header {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -1px;
  color: white;
}
/* image section */
.hero {
  background-image: url(./images/hero.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-main {
  position: absolute;
  z-index: 500;
  top: 58%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}
 .hero-main h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
}
.hero-main p {
  font-size: 2.5rem;
  width: 600px;
  font-weight: 100;
  margin: 15px 0 34px;
  letter-spacing: 0.1rem;
}

.hero-main .sendit {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin: auto;
  border-radius: 23px;
}
input {
  border: none;
  outline: none;
  
}
::placeholder {
  color: rgb(162, 162, 162);
  font-size: 0.85rem;
}
.hero-main .sendit input[type="email"]{
  border-radius: 25px;
  width: 100%;
  padding-left: 15px;
  padding-right: 10px;
}
.hero-main .sendit input[value="Get started"] {
  background-color: #29ca8e;
  color: white;
  transition: 0.5s ease background-color;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 25px;
  padding: 14px 26px;
  margin-right: -1px;
 
}
.hero-main .sendit input[value="Get started"]:hover {
  background-color: #292E49;
}

